*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: roboto, "Arial";
}
.sunshine{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* margin-top: 3rem; */
}
.right{
    margin-left: 5rem;
    margin-bottom: 20rem;

}
.left img{
    width: 50rem;
    height: 50rem;
}
a{
    color: rgb(207, 91, 91);
    font-weight: 700;
    margin-left: 5rem;
}
.taken{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
img{
    width: 50px;
}
.head-talk{
    /* border-bottom: 4px solid rgb(128, 0, 11); */
    font-size: 16px;
}
.head-talk p{
    background-color: rgb(128, 0, 11);
    height: 5px;
    width: 40px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.fetech{
    display: flex;
    flex-direction: column;
}
.call{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 14px;
    margin-bottom: 0.5rem;
}
input{
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    width: 22rem;
}
.two{
    display: flex;
    justify-content: space-between;
}
.rel{
    position: relative;

}
#lute{
    position: absolute;
    top: 25.1rem;
    right: 18.5rem;

}
 #submit{
    position: relative;
    width: 60%;
    background-color: rgb(128, 0, 11);
    color: white;
    padding: 1rem;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}   

